.card-list {
  grid-column: center-start / center-end;
  padding: 3.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3.5rem;
}
