.App {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      12,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
}

.search {
  grid-column: col-start 4 / col-end 4;
}



